<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ligadajustica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Equipa.ConsuEquipaActivity"></activity>
        <activity android:name=".Equipa.CadEquipaActivity" />
        <activity android:name=".Vilao.CunsuVilaoActivity" />
        <activity android:name=".Vilao.CadVilaoActivity" />
        <activity android:name=".Heroi.ConsuActivity" />
        <activity android:name=".Equipa.EquipaActivity" />
        <activity android:name=".Vilao.VilaoActivity" />
        <activity android:name=".Heroi.CadHeroi" />
        <activity android:name=".Heroi.HeroiActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>